<section>
    <h2 [ngClass]="{'colorful': cookie.theme=='Colorful'}">Abilities:</h2>
    <div class="ability">
        <img src="assets/fast-forward{{cookie.theme}}.png">
    <p [ngClass]="{'colorful': cookie.theme=='Colorful'}">{{skip}}x</p>
    </div>
    <div class="ability">
        <img src="assets/save{{cookie.theme}}.png">
        <p [ngClass]="{'colorful': cookie.theme=='Colorful'}">{{save}}x</p>
        </div>
        <div class="ability">
            <img src="assets/bomb{{cookie.theme}}.png">
            <p [ngClass]="{'colorful': cookie.theme=='Colorful'}">{{destroy}}x</p>
            </div>
</section>

