section{
    width:24%;
    display:flex;
    flex-direction:column;
    margin-top:5vh;
    h2{
        font-size:1.24em;
        color:white;
        font-weight:400;
        font-family:'Manrope',sans-serif;
    }

    .ability{
        display:flex;
        align-items:center;
        color:white;
        margin-top:2vh;
        p{
            font-size:1.2em;
            margin-left:1.4em;
        }
        img{
            width:4em;
        }
    }
}

.colorful{
    background: linear-gradient(to right, rgb(147, 255, 143), rgb(255, 169, 169),  rgb(255, 254, 174),  rgb(188, 255, 252));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight:800 !important;
    letter-spacing:0.1em;
}