
<main>
    <section>
        <h2>Log in to your organizer</h2>
    <div class="e-input-group">
    <input class="e-input" type="text" required placeholder="Login">
    <span class="e-input-group-icon"></span>
    </div>
    <div class="e-input-group">
        <input class="e-input" placeholder="Password" type="password" required >
        <span class="e-input-group-icon"></span>

        </div>
        <div class="alert"></div>
        <div class="buttons">
        <div class="e-btn-group">
       <button ejs-button cssClass="e-success" >Log in</button>
       <button ejs-button cssClass="e-info" >Create organizer</button>
       </div>
       </div>
    </section>

</main>