<nav>
    <h3 routerLink="" routerLinkActive="true">FIOKTIKK OR FIOLTIKK CHOOSE THE BETTER ONE AND CONTINUE ON TO PLAY THE GAME POGCHOMP BUT ACTUALLY NEITHER OF THOSE SOUND NICE YOU CAN MAKE YOUR OWN NAME THAT FITS YOUR OWN GUST COUSE WE ARE NOT ABLE TO THINK ABOUT ANYTHING CATCHY BUT ENOUGH OF THAT WHY ARE YOU STILL READING THIS PLAY THE GAME THE BUTTONS ARE ON THE RIGHT SIDE...</h3>

    <ul>
    <li routerLink="login" routerLinkActive="true" *ngIf="!getLoginStatus()">LOG IN</li>
    <li *ngIf="getLoginStatus()" (click)="logOut()">LOG OUT</li>
    </ul>
</nav>

<router-outlet></router-outlet>
