.upper{
    color:white;
    display:flex;
    align-items: center;
    width:100%;
    font-family:'Manrope',sans-serif;
    h2{
        font-size:1.23em;
        font-weight:normal;
        }
    .nick{
        width:19%;
        display:flex;
        align-items:center;
        img{
            width: 1.6em;
            height: 1.6em;
            margin-left:1em;
        }
    }
    .rank{
      width:50%;
      display:flex;
      align-items:center;
      img{
          height:3em;
          margin-left:1em;
      }
    }
    .hall{
        width: 50px;
        margin-left: 5%;
        outline: none;
        &:hover{
            transform: scale(1.2);
        }
    }
    .play{
        font-family:'Manrope';
        font-weight:800;
        font-size:1.35em;
        padding:0.15em 2.7em 0.15em 2.7em;
        letter-spacing:0.4em;
        border:none;
        -ms-border-radius:3em;
        -webkit-border-radius:3em;
        -moz-border-radius:3em;
        border-radius:3em;
        transition:0.4s all;
        color:black;
        border:0.15em solid white;
        outline: none;
        &:hover{
            cursor:pointer;
          background:rgb(0, 0, 0);
          color:white;
        }
    }
    img.settings{
        width: 2.1em;
        height: 2.1em;
        margin-left:5%;
        transition:all 1s;
        &:hover{
            transform:rotate(260deg);
            cursor:pointer;
        }
    }
    input{
        font-size: 21px;
        color: white;
        width: 8vw;
        border: 2px solid white;
        background: transparent;
        outline: none;
    }
}

.colorful{
    background: linear-gradient(to right, rgb(78, 255, 72), rgb(255, 116, 116),  rgb(255, 253, 116),  rgb(128, 255, 249));
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight:800 !important;
    letter-spacing:0.04em;
}
.colorfulButton{
    background: rgb(17, 216, 223);
    &:hover{
        background:violet !important;
        color:black !important;
    }
}