<div class="upper">
    <div class="nick">
        <h2 [ngClass]="{'colorful': theme=='Colorful'}" *ngIf="!editing">{{nickname}}</h2>
        <h2 [ngClass]="{'colorful': theme=='Colorful'}" *ngIf="editing"><input type="text" [(ngModel)]="newNickname"></h2>
        <img [src]="imgPath" class="changeNickname" (click)="changeNickname()">
    </div>
    <div class="rank">
        <h2 [ngClass]="{'colorful': theme=='Colorful'}">Rank:</h2>
        <img src="assets/{{rank}}.png">
    </div>
    <button class="play" id="go" [ngClass]="{'colorfulButton': theme=='Colorful'}" (click)="startAGame()">PLAY</button>
    <img src="assets/trophy{{theme}}.png" class="hall" (click)="goToHall()">
    <img src="assets/settings.png" class="settings" (click)="openPopup()">
</div>

