section{
    width:100%;
    .ability{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    .title{
        display:flex;
        align-items:center;
        h2{
            font-size:1.7em;
            font-weight:400;
        }
        .key{
          margin-left:0.6em;
          padding:0.15em 0.5em 0.15em 0.5em;
          border:solid 0.15em white;
          -ms-border-radius:0.4em;
          -webkit-border-radius:0.4em;
          -moz-border-radius:0.4em;
          border-radius:0.4em;
        }
    }
    .look{
        width:5em;
    }
    button{
        width:70%;
        margin-top:2.2vh;
        padding:0.1em 0 0.1em 0;
        border:none;
        -ms-border-radius:1em;
        -webkit-border-radius:1em;
        -moz-border-radius:1em;
        border-radius:1em;
        font-family:'Manrope',sans-serif;
        font-weight:800;
        font-size:1.3em;
        letter-spacing:0.22em;
        transition:0.4s all;
        border:0.15em solid white;
        &:hover{
            cursor:pointer;
          background:black;
          color:white;
        }
    }
    p{
        margin:0;
        margin-top:2vh; 
        padding:0.7em 0 0.6em 0;
    }

    .price{
    
        font-size:1.6em;
        display:flex;
        align-items:center;
        justify-content: center;
        margin: 1vh 0 0 4%;
        img{
            width:1.6em;
            margin-left:-0.3em;
        }
    }

    }
}