@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
body{
    margin:0 auto;
    background-color:red;
    animation: bccBase 10s infinite;
}
@keyframes bccBase{
  0%{
    background-color:red;
  }
  20%{
    background-color:lightgreen; 
  }
  40%{
    background-color:pink; 
  }
  60%{
    background-color:yellow; 
  }
  80%{
    background-color:purple; 
  }
  100%{
    background-color:red; 
  }

}
@keyframes bccRainbow{
  0%{
    background-color:red;
  }
  15%{
    background-color:rgb(42, 177, 255); 
  }
  30%{
    background-color:rgb(0, 194, 10); 
  }
  45%{
    background-color:pink; 
  }
  60%{
    background-color:yellow; 
  }
  75%{
    background-color:purple; 
  }
  90%{
    background-color:rgb(0, 121, 94); 
  }
  100%{
    background-color:red; 
  }

}

