@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css';
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
body{
    margin:0 auto;
    background-color:red;
    animation: bcc 10s infinite;
}
@keyframes bcc{
  0%{
    background-color:red;
  }
  20%{
    background-color:lightgreen; 
  }
  40%{
    background-color:pink; 
  }
  60%{
    background-color:yellow; 
  }
  80%{
    background-color:purple; 
  }
  100%{
    background-color:red; 
  }

}
