body{
    margin:0 auto;
    background-color:red;
    animation: bcc 10s infinite;
}
@keyframes bcc{
  0%{
    background-color:red;
  }
  20%{
    background-color:lightgreen; 
  }
  40%{
    background-color:pink; 
  }
  60%{
    background-color:yellow; 
  }
  80%{
    background-color:purple; 
  }
  100%{
    background-color:red; 
  }

}
