<section>
<app-ability title="{{abilities[0].name}}" key="{{cookie.keyOne}}" image="fast-forward" price="{{abilities[0].price}}" unlock="{{abilities[0].unlock_level}}" level="{{level}}"></app-ability>
<app-ability title="{{abilities[1].name}}" key="{{cookie.keyTwo}}" image="save" price="{{abilities[1].price}}" unlock="{{abilities[1].unlock_level}}" level="{{level}}"></app-ability>
<app-ability title="{{abilities[2].name}}" key="{{cookie.keyThree}}" image="bomb" price="{{abilities[2].price}}" unlock="{{abilities[2].unlock_level}}" level="{{level}}"></app-ability>
</section>