<section>
<app-ability *ngIf="abilities[0]?.unlock_level" title="{{abilities[0]?.name}}" key="{{keyOne}}" image="fast-forward" theme="{{theme}}" price="{{abilities[0]?.price}}" unlock="{{abilities[0]?.unlock_level}}" level="{{level}}"></app-ability>
<app-ability *ngIf="abilities[1]?.unlock_level" title="{{abilities[1]?.name}}" key="{{keyTwo}}" image="save" theme="{{theme}}" price="{{abilities[1]?.price}}" unlock="{{abilities[1]?.unlock_level}}" level="{{level}}"></app-ability>
<app-ability *ngIf="abilities[2]?.unlock_level" title="{{abilities[2]?.name}}" key="{{keyThree}}" image="bomb" theme="{{theme}}" price="{{abilities[2]?.price}}" unlock="{{abilities[2]?.unlock_level}}" level="{{level}}"></app-ability>
</section>