@import '../../reusableStyles/borderRadius.scss';

section{
   margin:0 auto;
   width:66vw;
   margin-top:5vh;
   height:90vh;

   app-panel-upper{
        width:100%;
   }
   app-abilities{
         width:30%;
   }
   app-shop{
     width:50%;
   }
   app-level-bar{
       width:60%;
   }

   .money{
       position:absolute;
       top:20%;
       left:calc(50% - 5.1vw);
       margin:0;
       display:flex;
       align-items: center;
       justify-content: center;
       img.bag{
           width:10vw;
       }
       .amount{
           position:absolute;
           color:white;
           font-size:1.6em;
           display:flex;
           align-items:center;
          margin:0;
          margin:30% 0 0 5%;
          img{
              width:40px;
          }
       }
   }
}

.settings{
    width:35%;
    height:500px;
    position:absolute;
    top:calc(50vh - 250px);
    left:32.5%;
    background:rgb(255, 255, 255);
    border:0.4em black solid;
    box-shadow:inset 0 0 0.6em 0em black;
    @include borderRadius(0.2em);
    display:flex;
    flex-direction:column;
    align-items:center;
    flex-direction:column;
    h1{
        width:100%;
        font-size:1.4em;
        letter-spacing:0.18em;
        text-align:center;
        &:first-child{
            margin-top:6%;
        }
    }
    .option{
        width:70%;
        display:flex;
        align-items:center;
        justify-content:center;
        h2{
            font-size:1.2em;
            letter-spacing:0.06em;
            width:40%;
            text-align:right;
            cursor:pointer;
            transition:all 0.2s;
            &:hover{
                transition:scale(1.1);
            }
            &.changing{
                font-weight:800;
                transition:scale(1.15);
                border:0.1em black solid;
                text-decoration:underline;
            }
        
            &:nth-child(2){
                width:60%;
                text-align:center;
            }
            select{
                font-size:1em;
                width:43%;
                margin-left:22%;   
                background:white;
                border:none;
              text-align:center;
              font-weight:800;
              font-family:'Manrope';
              option{
                  background:white;
              }
            }
        }
      
    }
    fa-icon{
        position:relative;
        z-index:11;
        font-size:2em;
        left:43%;
        bottom:85%;
        transition:0.2s all;
        &:hover{
            cursor:pointer;
            transform:scale(0.92);
        }
        
    }
}

@media only screen and (max-width:1800px){
    section{
        width:76vw;
    }
}
@media only screen and (max-width:1450px){
    section{
        width:85vw;
    }
}