<section>
    <app-panel-upper theme="{{cookie.theme}}" (openSettings)="switchSettings()" nickname="{{user.nickname}}" rank="{{user.rank}}" (startGame)="startGame()"></app-panel-upper>
    <app-abilities skip="{{userAbilities.skip}}" save="{{userAbilities.save}}" destroy="{{userAbilities.destroy}}"></app-abilities>
    <app-shop level="{{user.level}}" keyOne="{{cookie.keyOne}}" keyTwo="{{cookie.keyTwo}}" keyThree="{{cookie.keyThree}}" theme="{{cookie.theme}}"></app-shop>
    <app-level-bar theme="{{cookie.theme}}" level="{{user.level}}" experience="{{experiencePerc}}"></app-level-bar>
    <div class="money">
    <img src="assets/money-bag{{cookie.theme}}.png" class="bag">
    <div class="amount" [ngClass]="{'colorful': cookie.theme=='Colorful'}">
        {{user.money}}<img src="assets/money.png">
    </div>
    </div>
</section>

<div class="settings" *ngIf="settingsOpen">
    <h1>KEYBOARD SETTINGS</h1>
    <div class="option">
        <h2>SKIP:</h2><h2 (click)="setKeyOne()" [ngClass]="{'changing':changingShortcut[0]}">{{userService.cookie.keyOne}}</h2>
    </div>
    <div class="option">
        <h2>SAVE AND SKIP:</h2><h2 (click)="setKeyTwo()" [ngClass]="{'changing':changingShortcut[1]}">{{userService.cookie.keyTwo}}</h2>
    </div>
    <div class="option">
        <h2>DESTROY:</h2><h2 (click)="setKeyThree()" [ngClass]="{'changing':changingShortcut[2]}">{{userService.cookie.keyThree}}</h2>
    </div>
    <h1>COLORS SETTINGS</h1>
    <div class="option">
  
            <h2>BACKGROUND:</h2>
            <h2>
            <select [(ngModel)]="color" (change)="setBackground()">
                <option value="Base">Base</option>
                <option value="Speed">Speed</option>
                <option value="Rainbow">Rainbow</option>
                <option value="Still">Still</option>
            </select>
        </h2>
    </div>
    <div class="option">
  
        <h2>THEME:</h2>
        <h2>
        <select [(ngModel)]="theme" (change)="setTheme()">
            <option value="White">White</option>
            <option value="Colorful">Colorful</option>
        </select>
    </h2>
</div>


<fa-icon [icon]="faTimes" (click)="switchSettings()"></fa-icon>
</div>
