
@import '../../reusableStyles/formSection.scss';

section{
    button{
        width:23em;
    }
    p{
        font-family:'Manrope',sans-serif;
        color:white;
        font-size:0.85em;
        text-align:left;
        margin-top:1em;
        text-align:left;
        cursor:pointer;
    }
}